/* login.css */

body {
    overscroll-behavior: none;
}

.loginMain {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 226, 226);
}

.inner_login {
    width: 100%;
    max-width: 800px;
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: 1fr 1fr; /* Two columns, one for logo and one for form */
    gap: 50px;
    padding: 0 20px;
}

.logo {
    text-align: center;
    display: flex; /* Add flexbox display */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-bottom: 50%;
}

.logo h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1877F2;
    font-size: 60px;
    font-weight: bold;
}

.logo p {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
}

/* Adjust form styles as needed */
.loginForm {
    /* Any specific styles for the form */
}
