body {
  margin: 0;
  background-color: rgb(230, 226, 226);
  overscroll-behavior: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 226, 226);
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the container fills the entire height of the viewport */
  width: 100vw; /* Fill the width of the viewport */
  flex-direction: column;
  z-index: 1;
  overflow: auto; /* Enable scrolling if content exceeds viewport height */
}

.logo-signup-container {
  margin-top: 0px;
}

.logo-signup {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #1877F2;
  font-weight: bold;
  font-size: 80px;
}

.form-container {
  padding: 8px;
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-container h2 {
  margin-bottom: 10px;
}

.valid-input-msg {
  margin-bottom: 8px;
}
.form-container input {
  margin-top: 6px;
  margin-right: 4px;
  padding: 4px;
  border-radius: 6px;
  border-color: beige;
}

.form-container input:hover {
  opacity: 0.88;
}
.img-input {
  border-radius: 4px;
}
.submit-btn-form {
  border-radius: 10px;
  background-color: rgb(255, 227, 47);
  border: none;
  padding: 2px 50px;
  margin-bottom: 10px;
  transition: 0.4s;
}

.submit-btn-form:hover {
  opacity: 0.6;
}
.signin-btn {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .form-container input {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}
