.loginForm {
    margin: auto;
    width: 100%;
    max-width: 400px; /* Added to limit maximum width for larger screens */
    border-radius: 0.4em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
}

.form_container {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%; /* Adjusted width for better responsiveness */
    margin-bottom: 20px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-btn {
    background-color: rgb(65, 33, 194);
    font-weight: bold;
    color: white;
    border-radius: 0.4em;
    border: none;
    padding: 12px;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

.form input {
    border-radius: 10px;
    padding: 4px;
    width: 100%; /* Adjusted width for better responsiveness */
}

.resetPassword {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s;
}

.resetPassword:hover {
    color: rgb(110, 110, 233);
}

.divider_line {
    width: 100%;
    border-top: 1px solid lightgray;
    margin: 1rem 0; /* Added margin for better spacing */
}

.create_account {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_account button {
    background-color: green;
    font-weight: bold;
    color: white;
    border-radius: 0.4em;
    border: none;
    padding: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.create_account button:hover {
    background-color: rgb(61, 193, 61);
}
