.mid-section {
  background-color: rgb(240, 242, 245);
  margin-top: 56px;
  padding: 2% 5%; /* Use percentage-based padding */
  min-width: 500px;
  margin-left: 350px;
  margin-right: 350px;
  height: calc(100vh - 56px); /* Full height of viewport minus the top margin */
  overflow-y: auto; /* Add scrollbar if content exceeds height */
}

.stories-section {
  display: flex;
  flex-direction: row;
  height: 250px;
  background-color: rgb(240, 242, 245);
  justify-content: space-between;
  padding: 1% 2%; /* Use percentage-based padding */
}

.whats-on-mind-div {
  display: block;
  justify-content: center;
  background-color: white;
  padding: 1% 1%; /* Use percentage-based padding */
  border-radius: 8px;
}

.profile-pic-img {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.enter-posts {
  width: 80%;
  height: 10%; /* Use percentage-based height */
  border-radius: 20px;
  margin-top: 0.6%;
  padding-left: 2%;
  font-size: 24px; /* Use vw units for font size */
  border: none;
  cursor: pointer;
  text-align: start;
}

.enter-posts:hover {
  background-color: rgb(204, 204, 204);
}
.three-buttons-div {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2%; /* Use percentage-based padding */
}

.action-button {
  flex: 0 0 calc(33.33% - 16px); /* Calculate width for each button */
  margin-bottom: 4px; /* Add margin between buttons */
  padding: 8px 1%; /* Use percentage-based padding */
  background-color: white; /* Add background color to the buttons */
  border: none; /* Remove border from buttons */
  border-radius: 8px; /* Apply border-radius to buttons */
  cursor: pointer;
  display: flex;
  align-items: center; /* Center items vertically */
  margin-left: 2%; /* Use percentage-based margin */
}

.action-button img {
  margin-right: 4px; /* Add space between icon and text */
}
.action-button:hover{
  background-color: rgb(239, 237, 237);
}
@media (max-width: 1270px) {
  /* Hide notifications and messages numbers */
  .mid-section {
    margin-left: 5%;
    margin-right: 5%;
  }
}
