/* Post.css */

.post-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
}
.post {
  margin: 10px 2px;
  background-color: rgb(255, 255, 255);
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-header-left {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.post-time {
  font-size: 0.8em;
  color: #777;
}

.post-content {
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
  /* height: auto; */
  margin-bottom: 10px;
  height: 600px;
  width: auto;

}

.post-actions {
  display: flex;
  justify-content: space-between;
}

.action-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.action-button:hover {
  background-color: #e0e0e0;
}
