.stories-section {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
}

.story {
  position: relative; /* Set position to relative */
  width: 22%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  margin: 4px;
  overflow: hidden;
  border-radius: 8px;
}
.story:hover {
  opacity: 0.6;
}

.story-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.user-profile {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  overflow: hidden;
}

.user-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  position: absolute;
  bottom: 4px;
  left: 4px;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  border-radius: 4px;
}
